@import '../../assets/styles/breakpoints';
@import '../../assets/styles/colors';
@import 'input-config';

.input {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.input__label {
	padding-bottom: 0.5rem;
}

.input__fields {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;

	&_disabled {
		opacity: 0.4;
		cursor: pointer;
	}
}

.input__wrapper {
	position: relative;
	display: flex;
	width: 100%;
	align-items: center;
}

.input__suffix {
	position: absolute;
	right: 1.25rem;
	font-size: 1.375rem;
	color: $font-lightgray;
	font-family: 'Nekst-Black';
	font-weight: 700;

	&_fee {
		background-color: $bg-darkgray;
		padding: 0.6rem 1rem;
		border-radius: 1rem;
	}
}

.input__field {
	font-family: 'Nekst-Black';
	font-weight: 700;
	outline: none;
	border: none;
	width: 100%;
}

.input__range {
	cursor: pointer;
	position: absolute;
	background: transparent;
	width: 85%;
	bottom: -8px;
	z-index: 10;
	overflow: hidden;
}

.input__number {
	font-size: 1.375rem;
	color: $font-lightgray;
	padding: 1.25rem;
	border-radius: 1rem;
	background-color: $bg-lightgray;

	&:focus {
		background-color: transparent;
		outline: 2px solid $bg-lightgray;
	}
}

@media (min-width: $md) {
	.input__label {
		padding-bottom: 1.5rem;
	}

	.input__number {
		font-size: 1.875rem;
		padding: 1.5rem;
	}

	.input__suffix {
		right: 1.5rem;
		font-size: 1.875rem;
	}
}
