@import '../../assets/styles/breakpoints';
@import '../../assets/styles/colors';
@import 'input-config';

.input {
	display: flex;
}

.input__label {
	padding-bottom: 0.5rem;
}

.input__fields {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.input__field {
	font-family: 'Nekst-Black';
	font-weight: 700;
	outline: none;
	border: none;
}

.input__range {
	cursor: pointer;
	position: absolute;
	background: transparent;
	width: 85%;
	bottom: -8px;
	z-index: 10;
	overflow: hidden;
}

.input__number {
	font-size: 1.375rem;
	color: $font-lightgray;
	padding: 1.25rem;
	border-radius: 1rem;
	background-color: $bg-lightgray;
}

@media (min-width: $md) {
	.input__label {
		padding-bottom: 1.5rem;
	}

	.input__number {
		font-size: 1.875rem;
		padding: 1.5rem;
	}
}
