@import '../../assets/styles/breakpoints';
@import '../../assets/styles/colors';

.button,
button {
	font-family: 'Nekst-Black';
	cursor: pointer;
	font-weight: 700;
	border: none;
	font-size: 1.375rem;
	padding: 1rem;
	border-radius: 2.5rem;
	color: $white;
	background-color: $orange;
	max-height: 4.25rem;
	transition: ease-in-out 300ms;

	&:hover {
		color: $white;
		background-color: $black;
	}

	&:active {
		background-color: $font-lightgray;
	}

	&:disabled {
		cursor: default;
		background-color: $orange;
		opacity: 0.4;
	}
}
