@import '../../assets/styles/breakpoints';

.layout {
	display: flex;
	flex-direction: column;
	justify-content: start;
	min-height: 100vh;
	padding: 3.75rem 1.25rem;
	gap: 1.1rem;
}

@media (min-width: $md) {
	.layout {
		padding: 4rem 2.25rem;
	}
}

@media (min-width: $lg) {
	.layout {
		justify-content: center;
		padding: 0 2.9375rem;
	}
}
