@import '../../assets/styles/breakpoints';

.layout {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	min-height: 100vh;
	padding: 2.75rem 1.25rem;
}

@media (min-width: $md) {
	.layout {
    padding: 4rem 2.25rem;
  }
}

@media (min-width: $lg) {
	.layout {
    justify-content: center;
    align-items: start;
    padding: 0 2.9375rem;
  }
}
