@import '../../assets/styles/breakpoints';

.heading {
  text-align: left;
  width: 100;
}

@media (min-width: $lg) {
	.heading {
    max-width: 60vw;
  }
}

@media (min-width: $xl) {
	.heading {
    max-width: 40vw;
  }
}